body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #23272f;
  color: white;
}

h1 {
  text-align: center;
}

.board {
  display: grid;
  grid-template-columns: 70px 70px 70px;
  grid-template-rows: 70px 70px 70px;
  cursor: pointer;
  position: relative;
}

.tile {
  color: currentColor;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-border {
  border-right: 0.2em solid #0074a6;
}

.bottom-border {
  border-bottom: 0.2em solid #0074a6;
}

.x-hover:hover::after {
  content: "X";
  opacity: 0.4;
}

.o-hover:hover::after {
  content: "O";
  opacity: 0.4;
}

.strike {
  position: absolute;
  background-color: darkorange;
}

.strike-row-1 {
  width: 100%;
  height: 1%;
  top: 15%;
}

.strike-row-2 {
  width: 100%;
  height: 1%;
  top: 48%;
}

.strike-row-3 {
  width: 100%;
  height: 1%;
  top: 83%;
}

.strike-column-1 {
  height: 100%;
  width: 1%;
  left: 15%;
}

.strike-column-2 {
  height: 100%;
  width: 1%;
  left: 48%;
}

.strike-column-3 {
  height: 100%;
  width: 1%;
  left: 83%;
}

.strike-diagonal-1 {
  width: 95%;
  height: 2%;
  top: 50%;
  left: 3%;
  transform: skewY(45deg);
}

.strike-diagonal-2 {
  width: 95%;
  height: 2%;
  top: 50%;
  left: -1%;
  transform: skewY(-45deg);
}

.game-over {
  border: #5468ff 2vh;
  border-style: dotted;
  padding: 3vh;
  margin-top: 5vh;
  font-size: 1em;
  text-align: center;
}

.reset-button {
  background-color: #0074a6;
  color: white;
  padding: 3vh;
  margin-top: 5vh;
  font-size: 1em;
  text-align: center;
}
